.topnav {
    background-color: darkgray;
    overflow: hidden;
    font-family: CenturyGothic
}
.topnav a {
    float: inherit;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    line-height: 50px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover{
    color: green;
}